@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Raleway, sans-serif;
}

header {
    max-width: 100% !important;
    width: 100% !important;
}
.mapCardImage {
    filter: blur(3px);
    image-rendering: crisp-edges;
}
.mapCardImage:hover{
    -webkit-animation: 0.5s linear forwards reveal;
    -moz-animation: 0.5s linear forwards reveal;
    -o-animation: 0.5s linear forwards reveal;
    animation: 0.5s linear forwards reveal;
}

div:has(.cardImage):not(:has(button)):after {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    width: 96px;
    height: 96px;
    transform: translate(-50%, -50%);
    background: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_play_circle_filled_white_48px-512.png');
    background-size: cover;
    content: '';
}

.command > pre {
    font-weight: bolder;
}

@-webkit-keyframes reveal { from { filter:blur(3px); } to { filter:none; }  }
@-moz-keyframes reveal { from { filter:blur(3px); } to { filter:none; }  }
@-o-keyframes reveal { from { filter:blur(3px); } to { filter:none; }  }
@keyframes reveal { from { filter:blur(3px); } to { filter:none; }  }



.live-indicator {
    font-family: 'Roboto', sans-serif;
    background: #ea2429;
    color: #fff;
    padding: 6px 7px;
    line-height: 1;
    border-radius: 6px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    width: auto;
}
.blink {
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  font-size: 10px;
  margin-right: 5px;
  vertical-align: baseline;
}
  
@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.playerRow > span {
    display: inline-flex;
    align-items: center;
    gap: 5px
}